<footer>
    <small>© {new Date().getFullYear()}&nbsp;<span class="dbclick">MMD</span></small>
</footer>

<svg style="display: none">
    <symbol id="reset-icon" viewBox="0 0 15 15">
    <title>Reset</title>
    <path
        d="M4.85355 2.14645C5.04882 2.34171 5.04882 2.65829 4.85355 2.85355L3.70711 4H9C11.4853 4 13.5 6.01472 13.5 8.5C13.5 10.9853 11.4853 13 9 13H5C4.72386 13 4.5 12.7761 4.5 12.5C4.5 12.2239 4.72386 12 5 12H9C10.933 12 12.5 10.433 12.5 8.5C12.5 6.567 10.933 5 9 5H3.70711L4.85355 6.14645C5.04882 6.34171 5.04882 6.65829 4.85355 6.85355C4.65829 7.04882 4.34171 7.04882 4.14645 6.85355L2.14645 4.85355C1.95118 4.65829 1.95118 4.34171 2.14645 4.14645L4.14645 2.14645C4.34171 1.95118 4.65829 1.95118 4.85355 2.14645Z"
        fill="currentColor"
        stroke="currentColor"
        stroke-width="1"
        fill-rule="evenodd"
        clip-rule="evenodd"
    ></path>
    </symbol>
    <symbol id="accept" viewBox="0 0 24 24">
        <title>Accept reset</title>
        <polyline points="20 6 9 17 4 12" fill="none" stroke="currentColor" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></polyline>
    </symbol>
    <symbol id="reject" viewBox="0 0 24 24">
        <title>Accept reset</title>
        <g fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <line x1="18" y1="6" x2="6" y2="18" stroke-width="3"></line>
            <line x1="6" y1="6" x2="18" y2="18" stroke-width="3"></line>
        </g>
    </symbol>
    <symbol id="plus" viewBox="0 0 24 24">
        <title>Plus icon</title>
        <circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line>
    </symbol>
    <symbol id="minus" viewBox="0 0 24 24">
        <title>Minus icon</title>
        <circle cx="12" cy="12" r="10"></circle><line x1="8" y1="12" x2="16" y2="12"></line>
    </symbol>
    <symbol id="external-link" viewBox="0 0 20 20">
        <title>Opens in new tab</title>
        <svg fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11 3C10.4477 3 10 3.44772 10 4C10 4.55228 10.4477 5 11 5H13.5858L7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071C7.68342 13.0976 8.31658 13.0976 8.70711 12.7071L15 6.41421V9C15 9.55228 15.4477 10 16 10C16.5523 10 17 9.55228 17 9V4C17 3.44772 16.5523 3 16 3H11Z" fill="currentColor"/><path d="M5 5C3.89543 5 3 5.89543 3 7V15C3 16.1046 3.89543 17 5 17H13C14.1046 17 15 16.1046 15 15V12C15 11.4477 14.5523 11 14 11C13.4477 11 13 11.4477 13 12V15H5V7L8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5H5Z" fill="currentColor"/></svg>
    </symbol>
</svg>